{% extends 'blog/base.html' %}

{% block content %}
  <article class="media content-section d-flex">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="User Image">
    <div class="media-body">
      <div class="article-metadata">
        <a href="#">{{ object.author }}</a>
        <small class="text-muted ms-2">{{ object.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %} 