{% extends 'blog/base.html' %}

{% block content %}
  <article class="media content-section d-flex">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="User Image">
    <div class="media-body">
      <div class="article-metadata">
        <a href="#">{{ object.author }}</a>
        <small class="text-muted ms-2">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div class="my-2">
            <a class="btn btn-outline-info" href="{% url 'blog-update' object.id %}">Update</a>
            <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %} 